* {box-sizing: border-box;}
* {margin: 0; padding: 0;}

.shouye {
    color: rgb(110, 112, 112);
    display: flex;
    font-display: row;
    width: 1000px;
}
.shouye > .zp {
    width: 400px;
    height: 400px;
    right: 20px;
    top: 20px;
}

p {
    text-indent: 2em;
    color: rgb(65, 46, 46);
};
.shouye > .biaoti{
    left: 20px;
    margin-top: 10px;
}
.shouye > .biaoti > .renwu {
    font-size: 30px;
    color: cadetblue;
}

.shouye > .biaoti > .renwu > .haoyou {
    padding: 0 45px;
    font-size: 20px;
    color: rgb(117, 93, 93);
}
.shouye > .biaoti > .renwu > .haoyou > .haoyou1 {
    flex-direction: row;
}
.shouye > .biaoti > .renwu > .haoyou > .zp2 {
    width: 150px;
    left: 20px;
    padding: 0 25px;
    border-radius: 50%;
    flex-direction: row;
}